body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: white;
}

* {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: #FC466B;
    background: -webkit-linear-gradient(to left, #3F5EFB, #FC466B);
    background: linear-gradient(to left, #3F5EFB, #FC466B);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box
}

input[type="button"] {
    border: none;
    outline: none;
}

.emergencies {
    text-shadow: 0 0 25px #000;
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.emergencies button {
    height: 25vmin;
    width: 25vmin;
    border-radius: 50%;
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    text-shadow: 7px 2px 20px #000;
    text-decoration: none;
    border: 0px solid transparent;
    transition: .2s linear
}

.emergencies button:hover {
    cursor: pointer;
    transform: scale(1.25)
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.ambulance {
    background-image: url('../img/ambulance.png');
}

.policeman {
    background-image: url('../img/police.png');
}

.emergency {
    background-image: url('../img/emergency.png');
}

.next {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin:20px;
    font-size:50pt;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color:transparent;
    border: 4px solid white;
}


@media screen and (orientation: portrait) {
    .emergencies {
        flex-direction: column
    }
}

@media screen and (orientation: landscape) {
    .emergencies {
        flex-direction: row
    }
}