body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: white;
}

.accident {
    height: 18vw;
    width: 18vw;
    border-radius: 50%;
    background-color: #cc99ff;
    display: flex;
    flex-direction: column;
    margin: 3vw;
    justify-content: center;
    align-items: center;
}

input[type="button"] {
    border: none;
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: blue;
    height: auto;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.header button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid red;
}